<div fxFlex="1 1 0" fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="row" class="lang-cont">
    <kendo-buttongroup [width]="'50%'" [selection]="'single'">
      <button *ngFor="let item of navItems" kendoButton [toggleable]="true" [selected]="isActive(item)"
        (selectedChange)="navigate(item.url)">
        <span>
          <!-- <span class="k-icon {{ button.icon }}"></span> -->
          {{ item.name | translate }}
        </span>
      </button>
    </kendo-buttongroup>
    <bsc-lang-container fxFlex></bsc-lang-container>
  </div>
  <router-outlet></router-outlet>
</div>
